#app{
    position: flex;
    min-width: 960px;
    min-height: 100%;
}

.header_offtype{padding-top: 168px;}

.subWrap{
    margin: 0 auto;
    padding: 168px 0 272px;
}

.subWrap .headerWrap{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 50;
}

.headMenu, .headerWrap{background: white;}

.subWrap .headMenu{
    position: relative;
    background: #e22219;
}

.headMenu:before{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 0;
    background: white;
}

.subWrap .headMenu .webContainer{
    height: 168px;
    padding-top: 48px;
}

.headMenu .webContainer{
    position: relative;
    height: 120px;
    padding-top: 24px;
}

.webContainer{
    max-width: 1184px;
    margin: 0 auto;
    padding: 0 20px;
}

.subWrap .headMenu .logo{
    display: inline-block;
    position: static;
    width: auto;
    height: 120px;
    padding-left: 80px;
    padding-right: 10px;
    font-family: "My boldfont", serif;
    font-weight: bold;
    font-size: 2.125rem;
    color: #fff;
    text-indent: 0;
    line-height: 120px;
    background: url(./images/logo.png) no-repeat 0;
}

.logo a{color: white;}

.utilWrap{
    position: absolute;
    right: 5px;
    top: 0;
}

.utilWrap a{
    position: relative;
    display: block;
    float: left;
    height: 48px;
    padding: 0 14px;
    font-size: 0.85em;
    line-height: 48px;
}

.subWrap .utilWrap a{color: white;}

.subWrap .utilWrap a:before{background: #e84e47;}

.utilWrap .top:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 13px;
    margin-top: -6.5px;
}

.MOB{display: none!important;}

button{
    margin: 0;
    color: black;
    vertical-align: middle;
    background: 0;
    border: none;
    overflow: visible;
    padding: 0;
    font-family: "My boldfont", serif;
}

.btn04{
    display: inline-block;
    min-width: 3.5em;
    height: 36px;
    padding: 5px 10px;
    font-size: 1rem;
    color: white;
    background: #2e2e2e;
    border-radius: 5px;
}

.headMenu:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 5px;
    background: url(./images/bar.png) repeat-x 0 0;
}

.btn_join{
    right: 20px;
    bottom: 35px;
    position: absolute;
    width: 160px;
    font-family: "My boldfont", serif;
    font-size: 1.125rem;
    color: white;
    text-align: center;
    line-height: 50px;
    background: url(./images/blackbtn.png) repeat 50%;
    background-size: 100% 100%;
}

.btn_join>*{
    display: inline-block;
    padding: 0 20px 0 0;
    background: url(./images/bigright.png) no-repeat 100%;
}

.title_btn{display: none;}

.locationWrap .webContainer{overflow: hidden;}

.contentsWrap{
    min-height: 450px;
    margin: 0 auto;
}

.locationWrap{
    height: 58px;
    padding: 10px 0;
    color: white;
    line-height: 38px;
    background: black;
}

.nav{
    float: left;
    font-size: .875rem;
}

.locationWrap a{color: white;}

.nav>*{float: left;}

.nav .login:before{
    content: "";
    float: left;
    width: 4px;
    height: 38px;
    margin: 0 12px;
    background: url(./images/right.gif) no-repeat 50%;
}

.loginWrap{
    padding: 0;
    background: white;
}

.loginWrap .webContainer{
    padding: 75px 20px 0;
    background: url(./images/background.gif) no-repeat 100% 100%;
}

.loginWrap .page_tit02{
    font-size: 2.25rem;
    font-weight: bold;
    font-family: "My boldfont", serif;
}

.bg_w{background: white;}

.loginWrap .page_tit02 em{
    margin-bottom: 11px;
    letter-spacing: -2px;
}

.loginWrap .page_tit02>*{display: block;}

.weblogin_ui{
    min-height: 560px;
    padding: 45px 0 70px;
    overflow: hidden;
}

.weblogin_ui .login{
    width: 50%;
    min-width: 530px;
    padding-right: 5.23%;
    border-right: 1px solid #e5e5e5;
}

.weblogin_ui>*{
    float: left;
    min-height: 434px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

legend{
    position: absolute;
    left: -1000px;
    top: -1000px;
    height: 0;
    font-size: 0;;
    line-height: 0;
    visibility: hidden;
}

.weblogin_ui .tit01{
    margin-top: 0;
    font-size: 1.125rem;
}

.tit_ico{
    position: relative;
    padding-left: 50px;
    line-height: 40px;
}

.tit01{
    margin: 45px 0 17px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #2e2e2e;
}

.tit_ico.key02:before{background-image: url(./images/key.png);}

.tit_ico:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0;
}

.loginWrap .login .cont{padding: 10px 0 0 50px;}

.inpbox{position: relative;}

.inpbox label{display: block;}

label, label span{vertical-align: middle;}

.inpbox input{
    width: 100%;
}

::placeholder{
    color: #ccc;
    font-family: "My font", serif;
    font-size: 1.4rem;
    padding-left: 8px;
}

input{
    display: inline-block;
    height: 70px;
    margin: 0;
    padding: 3px 10px 3px 4px;
    font-size: 1.375rem;
    color: black;
    vertical-align: middle;
    font-family: "My font", serif;
    background: url(./images/underline.png) repeat-x 0 100%;
    border: none;
    border-radius: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
}

.inpbox button{
    width: 30px;
    height: 63px;
    margin: 0;
}

.inpbox button, input input~*{
    position: absolute;
    right: 0;
    top: 0;
}

.btn_del01{
    width: 30px;
    height: 40px;
    text-indent: -9999em;
    background: url(./images/delete.png) no-repeat 50%;
    background-size: 18px auto;
}

.btn_view01{
    width: 40px;
    height: 40px;
    background: url(./images/show.png) no-repeat 50%;
    text-indent: -9999em;
}

.inpbox+.inpbox{position: relative;}

.loginWrap .login_option{margin: 20px 0;}

.loginWrap .login_option label{margin-right: 20px;}

label, label>span{vertical-align: middle;}

input[type=checkbox]{
    position: absolute;
    margin: 0;
    vertical-align: middle;
    font-size: 1em;
    border: none;
    border-radius: 0;
    opacity: 0;
}

input[type=checkbox]+:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 13px;
    vertical-align: middle;
    background: url(./images/check.png) no-repeat 0;
}

.loginWrap .login .btn{
    margin: 30px 0;
    text-align: left;
}

.loginWrap .loginWrap .btn a{
    float: left;
    width: 216px;
}

.btn01.m.red{
    background: url(./images/redbtn.png) no-repeat 0 0;
}

.btn.item2 a{
    width: 49%;
    width: calc(50%-2px);
}

.btn01.m{
    width: 216px;
    height: 68px;
    font-size: 1.4rem;
    line-height: 46px;
    background: url(./images/blackbtn.png) no-repeat 50%;
}

.btn01{
    display: inline-block;
    width: 256px;
    height: 68px;
    font-size: 1.5rem;
    padding: 12px 10px 10px;
    font-weight: 700;
    color: white;
    text-align: center;
    line-height: 46px;
    background: url(./images/blackbtn.png) no-repeat 50%;
}

.loginWrap .login .loginMenu{overflow: hidden;}

.loginWrap .login .loginMenu a:first-child{padding-left: 0;}

.loginWrap .login .loginMenu a{
    position: relative;
    float: left;
    padding: 5px 18px;
    font-size: 1.125rem;
    color: black;
}

.loginWrap .login .loginMenu .password:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 18px;
    margin-top: -9px;
    background: #e8e8e8;
}

.simple_login{
    width: 50%;
    max-width: 485px;
    padding-left: 8.74%;
}

.t1t01:first-child{margin-top: 0;}

.tit_ico.lock:before{background-image: url(./images/lock.png);}

.tit_ico:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0;
}

.simple_login .list{
    max-width: 338px;
    margin: 15px 0 20px 46px;
}

.simple_login .list li{margin-bottom: 12px;}

.simple_login .list li:first-child{background: none;}

.simple_login .list a{
    position: relative;
    display: block;
    height: 64px;
    padding: 5px 5px 5px 70px;
    font-size: 1.2rem;
    color: hsla(0, 0%, 100%, .8);
    line-height: 54px;
    text-align: center;
    background: #1ec800 url(./images/naver.gif) no-repeat 21px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,.16);
}

.simple_login .list .kakao a{                
    color: black;
    background: #ffeb00 url(./images/kakao.gif) no-repeat 21px;
}

.simple_login .list .apple a{
    color: white;
    background: black url(./images/apple.gif) no-repeat 21px;
}

.simple_login .list a:before{
    content: "";
    position: absolute;
    left: 65px;
    top: 0;
    width: 1px;
    height: 100%;
    background: white;
    opacity: .2;
}

.simple_login .list .kakao a:before{opacity: .6;}

.webContainer .container01{
    padding-left: 16px;
    padding-right: 16px;
}

.container01{ padding: 65px 15px;}

.tab01{
    margin-bottom: 20px;
    overflow: auto;
}

.tab01 ul{display: table;}

.tab01 li:first-child{padding-left: 0;}

.tab01 li{
    position: relative;
    display: table-cell;
    padding: 0 18px;
    vertical-align: top;
}

.tab01 .on button{
    color: #e22219;
    border-bottom-color: #e22219;
}

.tab01 .on button:active{
    color: #e22219;
}

.tab01 button{
    display: inline-block;
    padding: 10px 1px;
    font-size: 1.3rem;
    color: #b8b8b8;
    border: 0 solid transparent;
    border-width: 4px 0;
}

.container02{
    padding: 57px 64px;
    background: white;
    font-size: 1.3rem;
}

.btn:last-child{margin-bottom: 0px;}

.btn{
    margin: 40px 0 80px;
    text-align: center;
}

.btn01.order{
    width: 272px;
    height: 76px;
    padding: 20px 10px 22px;
    font-size: 1.5rem;
    line-height: 34px;
    background: url(./images/bigblackbtn.png) no-repeat 50%;
    background-size: 100% 100%;
}

.footerWrap{
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
}

.footer{
    height: 272px;
    font-size: .85rem;
    color: #818181;
    background: #292929;
}

.footer .webContainer{
    position: relative;
    padding: 47px 20px;
}

.footer_menu{
    position: absolute;
    top: 42px;
    right: 10px;
}

.footer_menu li{float: left;}

.footer_menu li a{
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #818181;
}

.footer_menu li .footer_top:before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 12px;
    margin-top: -6px;
    background: #3f3f3f;
}

.footer_menu .btn{
    margin: 0;
    padding: 18px 10px;
    overflow: hidden;
}

.footer_menu .btn a{
    float: left;
    width: 49%;
    width: calc(50%-2px);
    height: 32px;
    margin: 0;
    padding: 5px 10px;
    color: white;
    background: #434343;
    border-radius: 4px;
}

.footer_menu .btn a:last-child{float: right;}

.footer .logo{margin-bottom: 24px;}

.copyright p{
    line-height: 170%;
    font-size: .8rem;
}

.sns{margin-top: 20px;}

.copyright .sns a{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 6px;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
}

.copyright .sns .facebook{background-image: url(./images/facebook.png);}

.copyright .sns .instagram{background-image: url(./images/instagram.png);}